streamlit
streamlit-mic-recorder

langchain
langchain-community
langchain-huggingface

sentence-transformers
faiss-cpu

pypdf

python-dotenv
bcrypt

SpeechRecognition
pyttsx3

pillow
pytesseract

transformers
torch

moviepy
opencv-python

openai-whisper

numpy

groq